@import url('https://fonts.googleapis.com/css2?family=Alan+Sans:wght@900&family=Roboto+Condensed:wght@900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Alan+Sans:wght@300..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');


:root {
    --cor-primaria: #0088ff;
    --cor-secundaria: #005fbb;
    --cor-terciaria: #00223f;
    --cor-quaternaria: #000000;
    --cor-quintaria: #ffffff;
}

*{
    margin: 0;
    padding: 0;
}


body {
    box-sizing: border-box;
    background-color: var(--cor-quaternaria);
    color: var(--cor-quintaria);
}

.titulo-destaque{
    color: var(--cor-primaria);
    
}

.brawl{
    color: orange;
}

.trampo{
    color: var(--cor-primaria)
}

.apresentacao{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 3.5% 18%;
    padding:
     
}

.apresentacao__conteudo{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__titulo{
    font-size: 3,25rem;
    font-family: "Alan Sans", sans-serif;
      font-weight: 900;
    text-align: center;
     

}

.texto__base{
    font-size: 1,18rem;
    font-family: "Roboto Condensed", sans-serif;
}

.texto__base2{
    font-size: 1rem;
    font-family: "Roboto Condensed", sans-serif;
    
}

.apresentacao__links{
 display: flex;
    flex-direction: column;
    align-items: center;  
    gap: 32px;
    width: 100%;
    
}

.link__redes{
   
display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    width: 90%;  
    max-width: 380px; 
    text-align: center;
    border-radius: 10px;
    font-size: 1.3rem;
    padding: 21px 20px;  
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: "Alan Sans", sans-serif;
    font-weight: 700;
   border: 1px solid var(--cor-primaria); 
    transition: all 0.3s ease

    
}

.foto__eu{
    width: 40%;
    border-radius: 50%;
    border: 4px solid var(--cor-primaria); 
    margin-top: 10%;
    margin-left: 25%;
    transition: transform 0.3s;
}


.link__redes:hover {
    transform: translateY(-12px);
    box-shadow: 0 0 65px var(--cor-primaria);
    background-color: rgb(18, 18, 18);
    
}

.foto__eu:hover {
    animation: pulse 0.6s;
    box-shadow: 0 0 65px var(--cor-primaria);
}

.rodape{
    text-align: center;
    padding: 0.5% 0;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 0,93rem;
    background-color: var(--cor-primaria);
    color: white;
    border-top: 2px solid var(--cor-primaria);
    
}


.cabecalho{

padding: 2% 20%;

text-align: justify;

}



.cabecalho__link{
    font-family: "Roboto Condensed", sans-serif;
    font-size: 0,93rem;
    text-decoration: none;
    color: white;
    border: 1px solid var(--cor-quintaria); 
    border-radius: 15px;
    padding: 0.7%;
    
   
}

.navegacao{
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
}





.cabecalho__link:hover{
    color: var(--cor-primaria)
    
 
}


@media (max-width: 1200px) {
    .apresentacao {
        flex-direction: column;
        margin: 0%;
        padding: 5% 5%;
    }
    
    .apresentacao__conteudo {
        width: auto;
        order: 2; 
    }
    
    .foto__eu {
        width: auto;
        margin: 0 auto 40px auto; 
        order: 1; 
    }
    
    .link__redes {
        width: auto;
        font-size: 1.1rem;
        padding: 18px 15px;
    }
}

@media (max-width: 768px) {
    .cabecalho {
        padding: auto;
        justify-content: center;
    }
    
    .navegacao {
      
        align-items: center;
       
    }
    
    .cabecalho__link, .cabecalho__link2 {
        margin-left: 5%;
        font-size: 0.9rem;
    }
    
    .apresentacao__titulo {
        font-size: 2rem;
    }
    
    .link__redes {
        width: 100%;
        font-size: 1rem;
        padding: 15px 10px;
    }
    
    .foto__eu {
        width: 80%;
    }
}





/* .home__link{

    text-align: left;
    padding: 10px 20px;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 15px;
    color: white;
    background-color: #000000;
    border-radius: 10px;
    margin: 10px 10%;
    text-decoration: none;

}

.home__link:hover{

    background-color: rgb(18, 18, 18);
    color: #0088ff;
    transition: background-color 0.3s, color 0.3s;
} */

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.08);
    }
    100% {
        transform: scale(1);
    }
}

